// variables

$accent: #E1253B;
$backColor: #3a83ef;
$midColor: #f5b95c;
$frontColor: #e84056;

$ease: cubic-bezier(0,.33,.15,1);

$thick : 3px;
$pad : 0.7em;
$extra : $pad * 1.2;
$color : #f26522;
$bg-color: #2d2d2d;