@import 'variables';
@import 'projects';

* {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: #100E19;
    position: relative;
}


// Custom scroll bar
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border: 7px solid #232943;
    box-shadow: inset 0 0 2.5px 2px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg,
            #16222A,
            #3A6073);
}

//






.main-color {
    color: $accent;
}

#header {
    position: absolute;
    z-index: 10;
    width: 100%;

    .navbar {
        padding: 20px 80px;

        .logo-name {
            color: #E1253B;
        }

        .nav-link {
            color: #69686D;

            &:hover {
                color: #fff;
            }

            &:active {
                color: #E1253B;
            }
        }
    }
}

.main {
    position: relative;
    min-height: 100vh;
    padding: 280px 0px 220px;

    .fixed-img-1 {
        position: absolute;
        width: 70%;
        left: 560px;
        bottom: 30px;
        z-index: 8;
    }

    #myName {
        color: #E1253B;
        font-size: 1.4em;
    }

    .header-lead {
        color: #B7B7B7;
    }

    .btn-head {
        width: 190px;
        height: 50px;
        border: 1px solid #E1253B;
        margin-top: 35px;
        background-color: rgba(225, 37, 59, 0.2);
        color: #fff;
        outline: none;
        display: none;

        &:hover {
            background-color: transparent;
            color: #fff;
        }
    }
}

// Section: Skills
.skills {
    width: 80%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;

    .noselect {
        -webkit-touch-callout: none;
        /* iOS Safari */
        -webkit-user-select: none;
        /* Chrome/Safari/Opera */
        -khtml-user-select: none;
        /* Konqueror */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* Internet Explorer/Edge */
        user-select: none;
        /* Non-prefixed version, currently
                                        not supported by any browser */
    }

    .title-skill {
        position: absolute;
        top: 1px;
        left: -90px;
        font-size: 6vh;
        margin-left: 15px;
        font-weight: 700;
        letter-spacing: 10px;
        color: rgb(29, 29, 32);
        z-index: -1;
        text-shadow: 1px 1px 1px #000,
            3px 3px 5px #E1253B;
    }

    .skill-list {
        list-style: none;
    }

    li {
        margin: 40px 0px;
        padding: 5px;
        color: #4A4A51;
        font-weight: 600;
        font-size: 35px;
        letter-spacing: 2px;
        text-shadow: 5px 5px 7px #000;
        cursor: pointer;
    }

    .active {
        color: #E1253B;
        background-color: #4A4A51;
        border-radius: 5px;
    }

    .hidden-text {
        background-color: #100E19;
        width: 600px;
        height: 200px;
        margin-left: 15px;
        transition: 2s;

        .bold-text {
            font-size: 50px;
            letter-spacing: 2px;
            color: #4A4A51;
        }

        .text-appear {
            font-size: 20px;
            letter-spacing: 1px;
            margin-top: 10px;
            color: #4A4A51;
        }
    }
}

// End of Section: Skills


// Container: Projects
.projects {
    width: 100%;
    height: auto;
    position: relative;

    .section-titles {
        margin: 70px 0px 80px 0px;
        text-align: center;
        font-size: 66px;
    }


    // Project 01
    .project {
        width: 100%;
        height: 520px;
        margin-bottom: 80px;
        display: flex;
        flex-direction: row;

        .image {
            background-position: center; // top
            background-repeat: no-repeat;
            background-size: contain; //contain
            width: 40%;
            height: 100%;
        }

        .img-1 {
            background-image: url('../img/Wordpress\ Project\ -\ The\ Traveler.jpg');
        }

        .text {
            width: 60%;
            padding: 10% 7%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .subheading {
                font-size: 13px;
                text-transform: uppercase;
                letter-spacing: .1em;
                color: #8c8c8c;
            }

            .heading {
                font-size: 30px;
                color: #fff;
            }

            .project-description {
                font-size: 18px;
                color: #8C8C8C;
            }
        }
    }

    // End of Project 01


    //Project 02
    .project-2 {
        width: 100%;
        height: 520px;
        margin-bottom: 80px;
        display: flex;
        flex-direction: row-reverse;

        .img-2 {
            background-image: url('../img/Project-ODEON.jpg');
        }
    }
}

// End of Container Projects


// Double Projects
.double-projects {
    height: 70vh;
    max-width: 100%;
    display: flex;
    margin-top: 120px;

    .project-3 {
        display: flex;
        flex-direction: row-reverse;
        margin-right: 10px;

        .img-3 {
            background-image: url('../img/json-project.png');
        }
    }

    .project-4 {
        margin-left: 10px;

        .img-4 {
            background-image: url('../img/Home.jpg');
        }
    }
}

// Section:Who Am I
.my-info {
    width: 100%;
    height: 100vh;

    .section-titles {
        margin: 70px 0px 80px 0px;
        text-align: center;
        font-size: 66px;
    }

    .my-name {
        margin-top: 230px;
        font-size: 120px;
        line-height: 65px;
        letter-spacing: 3px;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        position: relative;

        .last-name {
            opacity: .2;
            text-shadow: 1px 1px 1px #000,
                3px 3px 5px #E1253B;
        }
    }

    .about-content-holder {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        margin-top: 180px;

        .about-content-label {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
            margin-top: 5px;
        }

        .about-content-text {
            width: 750px;
            font-size: 20px;
        }
    }

    .contact-content-holder {
        margin-top: 100px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;

        .about-contact-label {
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
            margin-top: 15px;
        }

        .about-contact-text {
            width: 750px;
            font-size: 35px;

            .hello {
                text-decoration: underline;
            }

            .about-contact-second-text {
                margin-top: 20px;
                font-size: 18px;
            }
        }
    }

    .media-content {
        margin: 40px 0 70px 0px;

        .media-links {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;

            .media-items {
                margin: 0px 30px;
                color: #fff;
                font-size: 20px;

                a {
                    color: #fff;
                }
            }
        }
    }
}

// End of Section


.area {
    width: 100%;
    height: 100vh;


    .circles {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .circles li {
        position: absolute;
        display: block;
        list-style: none;
        width: 20px;
        height: 20px;
        background: rgba(255, 255, 255, 0.2);
        animation: animate 25s linear infinite;
        bottom: -150px;

    }

    .circles li:nth-child(1) {
        left: 25%;
        width: 80px;
        height: 80px;
        animation-delay: 0s;
    }


    .circles li:nth-child(2) {
        left: 10%;
        width: 20px;
        height: 20px;
        animation-delay: 2s;
        animation-duration: 12s;
    }

    .circles li:nth-child(3) {
        left: 70%;
        width: 20px;
        height: 20px;
        animation-delay: 4s;
    }

    .circles li:nth-child(4) {
        left: 40%;
        width: 60px;
        height: 60px;
        animation-delay: 0s;
        animation-duration: 18s;
    }

    .circles li:nth-child(5) {
        left: 65%;
        width: 20px;
        height: 20px;
        animation-delay: 0s;
    }

    .circles li:nth-child(6) {
        left: 75%;
        width: 110px;
        height: 110px;
        animation-delay: 3s;
    }

    .circles li:nth-child(7) {
        left: 35%;
        width: 150px;
        height: 150px;
        animation-delay: 7s;
    }

    .circles li:nth-child(8) {
        left: 50%;
        width: 25px;
        height: 25px;
        animation-delay: 15s;
        animation-duration: 45s;
    }

    .circles li:nth-child(9) {
        left: 20%;
        width: 15px;
        height: 15px;
        animation-delay: 2s;
        animation-duration: 35s;
    }

    .circles li:nth-child(10) {
        left: 85%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 11s;
    }
}

// Button to Top

.scroll-up {
    height: 40px;
    width: 40px;
    display: block;
    outline: 1px solid rgba(666, 666, 666, .08);
    position: relative;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);

    svg line {
        stroke-width: 1;
        stroke: #E1253B;
        fill: none;
        stroke-dasharray: 20;
        -webkit-transition: all .4s ease;
        transition: all .4s ease;
    }

    &:hover svg line {
        &.top {
            -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
        }

        &.bottom {
            -webkit-transform: translateX(40px);
            transform: translateX(40px);
        }

        &.left {
            -webkit-transform: translateY(40px);
            transform: translateY(40px);
        }

        &.right {
            -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
        }
    }
}

.scroll-up {
    position: fixed;
    top: 800px;
    right: 50px;

    .left-bar {
        position: absolute;
        z-index: 1;
        background-color: transparent;
        top: 19px;
        left: 5px;
        width: 18px;
        display: block;
        transform: rotate(-45deg);

        &:after {
            content: "";
            background-color: #E1253B;
            width: 18px;
            height: 1px;
            display: block;
            border-radius: 1px;
            transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
            transform-origin: right center;
            z-index: -1;
        }
    }

    .right-bar {
        position: absolute;
        z-index: 1;
        background-color: transparent;
        top: 19px;
        left: 17px;
        width: 18px;
        display: block;
        transform: rotate(45deg);
        border-radius: 2px;

        &:after {
            content: "";
            background-color: #E1253B;
            width: 18px;
            height: 1px;
            display: block;
            border-radius: 1px;
            transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
            transform-origin: left center;
            z-index: -1;
        }
    }

    &:hover {
        transition: all .1s;

        .left-bar:after {
            transform: rotate(-10deg);
        }

        .right-bar:after {
            transform: rotate(10deg);
        }
    }
}


@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

@media only screen and (max-width: 1100px) {
    .about-content-label {
        padding-bottom: 30px;
    }
    .about-contact-label {
        padding-bottom: 30px;  
    }
}


@media only screen and (max-width: 900px) {
    .double-projects {
        width: 80%;
        display: flex;
        flex-direction: column;
    }

    .my-name .first-name,
    .last-name {
        font-size: 10vw;
    }
}

@media only screen and (max-width: 785px) {
    .skills {
        display: flex;
        flex-flow: row wrap;
    }
}

@media only screen and (max-width: 700px) {
    #work {
        font-size: 9vw;
    }

    .my-info .my-name  {
        margin-top: 30px;
    }

    .my-info .about-content-holder {
        margin-top: 110px;
    }
}